Source: qwikgit
Maintainer: Andrew A Levin <andrewalevin@hotmail.com>
Section: utils
Priority: optional
Standards-Version: 4.5.0
Build-Depends: debhelper-compat (= 12)

Package: qwikgit
Architecture: all
Depends: git
Description: Git auto-commit and push with timestamp
 A simple Bash script to auto-commit and push Git repositories with a timestamp.